/* add your CSS here */
body {
    font-family: "Arial";
}

.animal-title {
    font-size: 40px;
    margin: 10px 10px; 
}

.animal-attr {    
    font-weight: bold;
    font-style: normal;
}

.animal-fact {
    font-style: italic;
}

.animal-details {
    
    border: 2px solid #d3d3d3;
    padding: 0% 3% 1%;    
    line-height: 130%;
}


.thumbnail {
    padding: 1%;
    max-height: 650px;
    max-width: 300px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 2px 5px 5px 2px #d3d3d3;
    margin: 20px 0px 20px 20px;    
    display:inline;
    float: left;
}

.fact-list {
    list-style: none;
    padding: 0px;
    font-style: italic
}

img {
    width: 300px;
    height: 200px;
    margin-bottom: 5px; 
}

p {
    margin-bottom: 4px;
}